.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^=".col-"] {
    float: left; }
    .row [class^=".col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem)/3); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777;
  padding: 30px; }

.header {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(28, 62, 255, 0.8)), url("https://www.saga.vn/uploads/%E1%BA%A3nh%20b%C3%A0i%20vi%E1%BA%BFt%20790x399/meeting.png");
  background-size: cover;
  background-position: top;
  position: relative;
  height: 95vh;
  clip-path: ellipse(60% 60% at 49% 30%); }
  .header__text-box {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.header__logo {
  height: 70px; }

.header__logo-box {
  position: absolute;
  top: 30px;
  left: 30px; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px; }

.heading-primary--main {
  display: block;
  font-size: 62px;
  font-weight: 400;
  letter-spacing: 15px;
  animation: moveInLeft 2s ease-out; }

.heading-primary--sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 18px;
  animation: moveInRight 2s ease-out; }

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  font-size: 16px;
  position: relative; }

.btn--white {
  color: #777777;
  background-color: #fff; }

.btn:hover {
  transform: translate(-3px);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2); }

.btn:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0, 5px, 10px, rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  z-index: -1;
  transition: all 0.4s; }

.btn--white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75;
  animation-fill-mode: backwards; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(0, -100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(0, -100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
